@{
  Layout = "_Layout";
}

<div class='container'>
    <h1>Edit Client</h1>
    <form action='/clients/@Model.Id/update' method='POST'>
        <div class='form-group'>
            <label for='name'>Name</label>
            <input type='text' name='name' class='form-control' value='@Model.Name' required>
        </div>
        <div class='form-group'>
            <label for='phone'>Phone</label>
            <input type='text' name='phone' class='form-control' required value='@Model.Phone'>
        </div>
        <div class='form-group'>
            <label for='email'>Email</label>
            <input type='email' name='email' class='form-control' required value='@Model.Email'>
        </div>
        <div class='form-group'>
            <label for='name'>Stylist</label>
            <select name='stylistId' class='form-control'>
            @foreach (var stylist in Model.GetAllStylists())
            {
                <option value='@stylist.Id'>@stylist.Name</option>
            }
            </select>
        </div>
        <button type='submit' class='btn btn-info'>Update Client</button>
        <a href='/clients/@Model.Id' class='btn btn-secondary'>Back</a>
    </form>
</div>